<!DOCTYPE html>
<html ng-app="timer">
<head>
  <meta charset="UTF-8">
  <title>DharmaTime</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css"/>
  <base href="/"></base>
</head>
<body ng-controller="bodyController" ng-style="bodyStyle">
  {{{body}}}
</body>
</html>
