<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/angular.ui-router/1.0.0-alpha0/angular-ui-router.min.js"></script>

<script type="text/javascript" src="assets/js/app.js"></script>

<!-- Directives -->
<script type="text/javascript" src="/assets/js/directives/nav.js"></script>
<script type="text/javascript" src="/assets/js/directives/clock.js"></script>
<script type="text/javascript" src="/assets/js/controllers/sits-show-controller.js"></script>
<script type="text/javascript" src="/assets/js/controllers/sits-new-controller.js"></script>



<div data-ng-app="timer">
  <main data-ui-view></main>
</div>
