* {
  margin: 0;
  padding: 0;
  /*border: 1px solid white;*/
}
body {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
nav-directive {
  position: fixed;
  background-color: white;
  height: 65px;
  width: 100%;
  bottom:0px;
  margin-bottom:0px;
  border-top: 5px solid grey;
}
nav-directive ul{
  text-align: center;
  margin-top: 20px;
}
nav-directive li {
  display: inline;
  list-style: none;
  margin-left: 45px;
  margin-right: 45px;
}
nav-directive a {
  color: grey;
  letter-spacing: 3px;
  font-size: 18px;
}
.content {
  width:100%;
  top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
}
#clock {
  width: 25%;
  margin: 0 auto;
  margin-top: -220px;
  text-align: center;
  font-size: 30px;
  z-index: 1;
  margin-bottom: 300px;
}
#minutes-form {
  height: 360px;
  width: 40%;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
}
input[type="number"] {
  height: 42px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}
#date {
  text-decoration: underline;;
  color: #ef5732;
}
.button {
  background-color: #336100;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}
#stop-button {
  background-color: #ef5732;
}
#pause-button {
  margin-top: 220px;
}
#logo-box {
  position: fixed;
  background-color: white;
  height: 65px;
  width: 100%;
  border-bottom: 5px solid grey;
  color: grey;
  text-align: center;
  letter-spacing: 18px;
}
#logo-box h1 {
  margin-top: 20px;
}
#logo-box a {
  color: grey;
  text-decoration: none;
}
.notes {
  width: 200px;
  font-size: 16px;
  padding: 5px 5px 35px 5px;
  margin-top: 20px;
}
.circle {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
#circle-zaxis {
  z-index: -1;
}
#about {
  margin-left: 30%;
  width: 45%;
  font-size: 18px;
  letter-spacing: 2px;
}
#sits {
  margin-left: 30%;
  margin-top: 20px;
  padding-bottom: 80px;
}
