* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid white;
}
body {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: grey;
  text-decoration: none;
}

/*top section with DHARMATIME logo*/
#logo-box {
  position: fixed;
  background-color: white;
  height: 65px;
  width: 100%;
  border-bottom: 5px solid grey;
  color: grey;
  text-align: center;
  letter-spacing: 18px;
}
#logo-box h1 {
  margin-top: 20px;
}

/*main section with big cirlce and clock*/
.content {
  width:100%;
  top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
}
#clock {
  width: 25%;
  margin: 0 auto;
  margin-top: -200px;
  text-align: center;
  font-size: 30px;
  z-index: 1;
  margin-bottom: 150px;
}
#minutes-form {
  width: 40%;
  height: 250px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}
input[type="number"] {
  height: 42px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}
.circlebox{
  width: 280px;
  margin: 0 auto;
}
.circle {
  display: block;
  width: 100%;
  margin-top: 60px;
}
.notes {
  width: 200px;
  font-size: 16px;
  padding: 5px 5px 35px 5px;
  margin-top: 20px;
}

/*navigation directive*/
nav-directive, login-directive {
  position: fixed;
  background-color: white;
  height: 65px;
  width: 100%;
  bottom:0px;
  margin-bottom:0px;
  border-top: 5px solid grey;
}
nav-directive ul{
  text-align: center;
  margin-top: 20px;
}
nav-directive li {
  display: inline;
  list-style: none;
  margin-left: 45px;
  margin-right: 45px;
}
nav-directive a {
  color: grey;
  letter-spacing: 3px;
  font-size: 18px;
}

/*registration page*/
.registration-form-group {
  width: 240px;
  margin: 0 auto;
}
.form-control{
  margin-left: 30px;
}
#email{
  margin-top: 8px;
}
#date {
  text-decoration: underline;;
  color: #ef5732;
}

/*buttons everywhere*/
.button, #sign-in-button, #sign-up-button, #register-button {
  background-color: #336100;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 32px;
  font-size: 16px;
  letter-spacing: 2px;
}
#sign-in-button, #sign-up-button{
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 10px
}
#sign-up-button, #stop-button{
  background-color: #ef5732;
}
#pause-button {
  margin-top: 180px;
}
.login-form-group {
  width: 180px;
}
.button-group {
  margin-left: 170px;
  margin-top: -32px;
}

/*about page's content*/
#about {
  margin-left: 30%;
  width: 45%;
  font-size: 18px;
  letter-spacing: 2px;
}

/*session archive content*/
#sits {
  margin-left: 30%;
  margin-top: 20px;
  padding-bottom: 80px;
}
