<form ng-submit="vm.onSubmit()" ng-hide="vm.isLoggedIn">
  <div class="login-form-group">
    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
  </div>
  <div class="button-group">
    <button type="submit" id="sign-in-button">Sign In</button>
    <button ui-sref="register" id="sign-up-button">Register</button>
  </div>
</form>

<div class="nav" ng-show="vm.isLoggedIn">
  <ul>
    <li><a ui-sref="new">new sitting</a></li>
    <li><a ui-sref="sits">archive</a></li>
    <li><a ui-sref="about">settings</a></li>
    <li><a ui-sref="about">about</a></li>
  </ul>
</div>